:root{
	--brand:#a1a8ad;
	--black:#311F09;
	--orange:#FF8A00;
	--green:#3FA72F;
	--white-orange:#FFE6C9
}

img {
  max-width: 100%;
  height: auto;
}

.container{
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
}

body, html{
	font-family:"Tinos", sans-serif;
	font-size:20px;
	margin:0;
	padding:10px;
	scroll-behavior:smooth;
	background: #f4f6fb;
    color: #222;
    line-height: 1.5;
}

*{
	box-sizing:border-box;
}

/* HEADER */

header {
    background: #4f46e5;
    color: white;
    padding: 20px;
    text-align: center;
	
	margin-bottom:70px;
}

.header-inner h1{
	line-height:70px;
}

nav a{
	color:#fff;
	text-decoration:none;
	margin-right:10px;
	
	transition:transform ease .4s;
	display:inline-block;
}

nav a:hover{
	transform:scale(1.09);
}

/* MAIN */


.main-items{
	
}

.main-item{
	background-color:#fff;
	border-radius:20px;
	align-items:center;
	border:1px #4f46e5 solid;
	margin-bottom:15px;
	
	transition:background-color .4s ease;
}

.main-item:hover{
	background-color:#BAE6FD;
}

.main-item a{
	font-size:30px;
	text-align:center;
	font-weight:300;
	text-decoration:none;
	color:var(--black);
	display:flex;
	padding:20px 10px;
	justify-content:center;
	
}


/* FOOTER */

.footer-inner h2{
	margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* Сторінки уроків різних класів */

/* Кнопка назад */
.main-back{
	margin-bottom:30px;
	margin-left:20px;
}

.main-back a{
	text-decoration:none;
	color:#fff;
	background-color:#4f46e5;
	
	padding:14px 20px;
	border-radius:15px;
	
	transition:background-color .4s ease
}

.main-back a:hover{
	background-color:#3730a3;
}

.main-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}


.day {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}


.day h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #4f46e5;
}


/* ====== СПИСОК УРОКІВ ====== */
.lesson {
    padding: 8px 10px;
    margin-bottom: 8px;
    background: #f1f3ff;
    border-radius: 8px;
    font-size: 14px;
}


.lesson span {
    display: block;
    font-size: 12px;
    color: #555;
}

/* Кнопки "Онлайн уроки" */

.online-link {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 12px;

  background: #4f46e5;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;

  border-radius: 8px;
  transition: all 0.2s ease;
}

.online-link:hover {
  background: #3730a3;
  transform: translateY(-1px);
}












